/*------------------------------------------------
Positioning
------------------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.centered {
    margin: 0px auto;
}
/*------------------------------------------------
Margin and padding Classes
------------------------------------------------*/
.mar-0{
    margin:0px;
}
.mar-t-minus-20{
    margin-top: -20px;
}
.mar-t-10{
    margin-top:10px;
}
.mar-t-15{
    margin-top:15px;
}
.mar-t-20{
    margin-top:20px;
}
.mar-t-50{
    margin-top:50px;
}
.mar-t-60{
    margin-top:60px;
}
.mar-t-neg25{
    margin-top:-25px;
}
.mar-b-25{
    margin-bottom:25px;
}
.mar-l-10 {
    margin-left: 10px;
}
.mar-l-20{
    margin-left:20px;
}
.mar-l-30{
    margin-left:30px;
}
.mar-l-40{
    margin-left:40px;
}
.pad-10{
    padding:10px;
}
.pad-20{
    padding:20px;
}
.pad-t-20 {
    padding-top: 20px;
}

/*------------------------------------------------
Floats
------------------------------------------------*/

.floatR{
    float:right;
}
.floatL{
    float:right;
}
.clear{
    clear:both;
}
/*------------------------------------------------
Text placement
------------------------------------------------*/
.t-centered{
    text-align: center;
}
.no-line-height{
    line-height:1em;
}
.line-height15{
    line-height: 1.5em;
}
/*------------------------------------------------
display
------------------------------------------------*/
.visible{
    display:block;
}
.hidden{
    display:none;
}
/*------------------------------------------------
Heading tags
------------------------------------------------*/
h1, h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
    color: #616161;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px;
    border-bottom: 1px solid #cccccc;
    font-weight: 300;
    line-height: -2.74em;
    box-shadow: inset 0 -1px 0 #BBB
}
h1 span {
    padding: 0 16px 10px 0; background: #FFF
}

h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 2.7em;
}

h3 {
    font-size: 24px;
    line-height: 3.15em;
    font-weight: 300;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.72em;
}

h5 {
    font-size: 12px;
    color: #8c8c8c;
    font-weight: 300;
    line-height: 1.85em;
    font-style: italic;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 14pt;
    color: #616161;
    line-height: 1.5em;
}
/*------------------------------------------------
Colors
------------------------------------------------*/
.good{
    color: rgba(11, 116, 11, 0.5);
}
.warning{
    color: rgba(255, 128, 11, 0.6);
}
.attention{
    color: rgba(204, 0, 0, 0.75);
}
.bg-green {
    background-color: #339933  ;
    color: #fff  ;
    border: 0;
    margin-right: 0px;
}
.c-orange{
    color:#F36F0B;
}
.white{
    color:white;
}
.user{
    color:#339933;
    font-weight:bold;
}
.c-gray{
    color:#616161;
}


/*------------------------------------------------
Links
------------------------------------------------*/
.white a{
    color: #cccccc;
}
/*------------------------------------------------
Hovers
------------------------------------------------*/
.white:hover{
    color:grey;
}
/*------------------------------------------------
List Styles
------------------------------------------------*/
.list-no-style{
    list-style-type: none;
    padding:0px;
    margin:0px;
}
.list-float-l li{
    float:left;
}
/*------------------------------------------------
cursors
------------------------------------------------*/

/*------------------------------------------------
Buttons
------------------------------------------------*/
.btn-lrg {
    font-size: 16px;
    min-width: 100px;
    height: 36px;
    border-radius: 5px 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    border: none;
    font-weight: normal;
    margin: 10px 0px 10px 20px;
}

.btn-sml {
    font-size: 14px;
    min-width: 75px;
    font-weight: normal;
    height: 24px;
    line-height: 14px;
    border-radius: 5px 5px;
    padding: 5px 15px;
    color: #ffffff;
    border: none;
    margin: 10px;
}
.btn-table {
    font-size: 12px;
    min-width: 75px;
    font-weight: normal;
    line-height: 19px;
    border-radius: 5px 5px;
    padding: 2px 10px;
    color: #ffffff;
    border: none;
}

.btn-bg-green {
    background-color: #339933;
    text-decoration: none;
}

.btn-bg-blue {
    background-color: #0072bc;
    text-decoration: none;
}
.btn-blue{
    border:1px solid #0072bc;
    font-weight: bold;
    color:#0072bc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background: white;
}
.btn-blue:hover{
    color:white;
    background: #0072bc;
}

.btn-bg-red {
    background-color: #9e0e0e;
    text-decoration: none;
}
.btn-bg-ea{
    background-color:#eaeaea;
    text-decoration:none;
    color:#616161;
}


.btn-bg-white {
    background-color: #ffffff;
    border: 1px solid #616161;
    color: #616161;
    text-decoration: none;
}

.btn-bg-green:hover {
    background-color: #0e6735;
}

.btn-bg-green-inactive {
    background-color: #0e6735;
}

.btn-bg-blue:hover {
    background-color: #005285;
}

.btn-bg-blue-inactive {
    background-color: #005285;
}

.btn-bg-red:hover {
    background-color: #711417;
}

.btn-bg-red-inactive {
    background-color: #711417;
}

.btn-bg-white:hover {
    background-color: #eaeaea;
}

.btn-bg-white-inactive {
    background-color: #eaeaea;
}
.btn-bg-ea:hover{
    background-color:#cccccc;
}
.btn-bg-ea-inactive{
    background-color: #FFFFFF;
    color:#eaeaea;
}

.disabled {
    opacity: 0.4;
}

.border-gray{
    border:1px solid #CCCCCC;
}