
.pure-menu-item--sub a{
    text-decoration: none;
}
.pure-menu-item-subnav li{
    list-style-type: none;
    padding:2px;
}
.fd-info-list {
    list-style-type: none;
    padding:0px;
    margin:0;
    line-height: 1.3em;
}

.name-link{
    text-decoration:none;
    color:#339933
}
.name-link:hover{
    text-decoration:underline;
}

#user-name{
    color: #616161;
    font-weight:normal;
}

/*DASHBOARD CSS FROM NOLAN*/


#notifications_header {margin-bottom: 36px}
.notification {position: relative; width: 100%; padding: 26px 316px 30px 90px; margin-bottom: 8px; background: #FFF; border: 1px solid #CCC; border-radius: 4px; box-sizing: border-box}
.notification.unread {background: #F3F8FB; border: 2px solid #0072BC}
.notification em {color: #339933; font-weight: 700}
.notification i {position: relative; top: 4px; color: #AAA; font-size: 80%}
.notification .fa_icon {position: absolute; top: 50%; left: 30px; color: #9C9C9C; font-size: 30px; text-decoration: none; transform: translateY(-50%); -webkit-transform: translateY(-50%)}
.notification.unread .fa_icon {color: #0072BC}
.notification .action_button {position: absolute; top: 50%; right: 86px; transform: translateY(-50%); -webkit-transform: translateY(-50%)}

.pure-table tbody tr:hover {background: #F0F0F0}

.alert__success, .alert__error, .alert__warning {position: relative; max-width: 800px; padding: 6px; margin-bottom: 4px; border-radius: 4px; box-sizing: border-box; display: block}
a.alert__success, a.alert__error, a.alert__warning {text-decoration: none}
.alert__success {color: #6079A5; background: #E3ECFB; border: 1px solid #6079A5}
.alert__error {color: #B45555; background: #FBE3E3; border: 1px solid #B45555}
.alert__warning {color: #FFCC2F; background: #FFFBCE; border: 1px solid #FFCC2F}
.disabled_link, .disabled_link:hover {opacity: .5; cursor: default}
.page_number, .page_number:hover {cursor: default}
/*.pure-button .fa_icon {margin-right: 8px}*/
input[type="text"] {margin-bottom: 4px}
textarea {width: 400px; max-width: 100%; height: 80px; box-sizing: border-box}
.archive_button, .home_button {margin-top: 26px; color: #FFF; background: rgb(28, 184, 65); text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); border-radius: 4px}
