

.fd-info-list {
    list-style-type: none;
    padding:0px;
    margin:0;
    line-height: 1.3em;
}

.name-link{
    text-decoration:none;
    color:#339933
}
.name-link:hover{
    text-decoration:underline;
}

#user-name{
    color: #616161;
    font-weight:normal;
}

/*DASHBOARD CSS FROM NOLAN*/


#notifications_header {margin-bottom: 36px}
.notification {position: relative; width: 100%; padding: 26px 316px 30px 90px; margin-bottom: 8px; background: #FFF; border: 1px solid #CCC; border-radius: 4px; box-sizing: border-box}
.notification.unread {background: #F3F8FB; border: 2px solid #0072BC}
.notification em {color: #339933; font-weight: 700}
.notification i {position: relative; top: 4px; color: #AAA; font-size: 80%}
.notification .fa_icon {position: absolute; top: 50%; left: 30px; color: #9C9C9C; font-size: 30px; text-decoration: none; transform: translateY(-50%); -webkit-transform: translateY(-50%)}
.notification.unread .fa_icon {color: #0072BC}
.notification .action_button {position: absolute; top: 50%; right: 86px; transform: translateY(-50%); -webkit-transform: translateY(-50%)}

.pure-table tbody tr:hover {background: #F0F0F0}

.alert__success, .alert__error, .alert__warning {position: relative; max-width: 800px; padding: 6px; margin-bottom: 4px; border-radius: 4px; box-sizing: border-box; display: block}
a.alert__success, a.alert__error, a.alert__warning {text-decoration: none}
.alert__success {color: #6079A5; background: #E3ECFB; border: 1px solid #6079A5}
.alert__error {color: #B45555; background: #FBE3E3; border: 1px solid #B45555}
.alert__warning {color: #FFCC2F; background: #FFFBCE; border: 1px solid #FFCC2F}
.disabled_link, .disabled_link:hover {opacity: .5; cursor: default}
.page_number, .page_number:hover {cursor: default}
/*.pure-button .fa_icon {margin-right: 8px}*/
input[type="text"] {margin-bottom: 4px}
textarea {width: 400px; max-width: 100%; height: 80px; box-sizing: border-box}
.archive_button, .home_button {margin-top: 26px; color: #FFF; background: rgb(28, 184, 65); text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); border-radius: 4px}

/*HELLO CSS*/
/* CSS declarations go here */

.button-xsmall{
    font-size: 70%;
}
.button-success{
    background-color: #339933;
    color:white;
}
.header__title, .header-plus{
    /*border-bottom:1px solid #616161;*/
    margin-bottom:10px;
}

.header__button{
    margin:auto;
}
.page-content {
    margin-top: 50px;
}

.green-bk{
    background-color:#339933;
}

.custom-restricted-width{
    display: inline-block;
    width: 220px;
    padding:0px 20px;
}

.list__no-style__float-left {
    list-style-type: none;
}
.list__no-style__float-left li{
    float:left;
}
.filter-search{
    margin:5px 0px 20px 0px;
}
.filter-search__actions__search input{
    width: 150px;
    line-height: 1.5em;
}
/*----------------------------------------------
address book
----------------------------------------------*/
.addressbook__row{
    margin: 20px 0px;
}
.addressbook__entry{
    padding:2px;
}
.addressbook__entry:hover {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
}
.addressbook__entry__link{
    text-decoration: none;
    color:#000000;
}
.addressbook__entry a:hover {

}
.addressbook__entry ul{
    list-style-type:none;
    padding:0px;
}
.addressbook__entry__user-image {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addressbook__entry__user-image--profile{
    width: 90%;
    margin: 5px auto;
    display: inherit;
}
.addressbook__entry__user-image--shield{
    width:20px;
    margin: 5px;
    display: inherit;
}
.addressbook__entry__information{
    padding-left:15px;
}
.addressbook__entry__information h4{
    margin-top:0px;
    margin-bottom:0px;
}
.addressbook__entry__information ul{
    margin:5px 0px;
}
.addressbook__entry__listmember{
    float:left;
    font-style: italic;
    color:#0000ed;
}
/*----------------------------------------------
address book individual profile
----------------------------------------------*/
.line-under{
    border-bottom:1px solid #9C9B9B;
    margin-bottom: 10px;
}
.picture-list__image{
    margin-top:20px;
    border:solid 1px #888888;
    border-radius:5px;
}

.picture-list__image--profile {
    width: 100%;
    padding: 3px;
    margin: 0 auto;
}
.picture-list__image--shield {
    width: 12%;
    margin: 5px;
}
.picture-list__lists li{
    list-style-type: none;
    color: #0000cc;
    font-style: italic;
}
.picture-list__lists li:nth-child(3n){
    color: #339933;
}
.fields__individual {
    line-height: 1.5;
}

.fields__individual em:hover{
    text-decoration: underline;
}

.fields__individual h3{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0px;
    color: #616161;

}

.fields__individual h4{
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0px 0px;
}

.fields__individual.green, em.green{
    color:#138613;
}

.fields__individual .red, .red {
    color:#F36F0B;
}

.fields__individual a{
    font-style: italic;
    color: #0000cc;
}
.employee-list__item__picture{
    border: 1px solid #cccccc;
}
.employee-list__item__information{
    padding-left:20px;
}
.employee-list__item__information h4{
    margin-top:0px;
    padding-top:0px;
}
.employee-list__item__information ul{
    list-style-type: none;
    margin:0;
    padding:0;
    line-height: 1em;
}
.white{
    color:white  ;
}
