/* CSS declarations go here */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
p{
    font-size: 12px;
}

.centered {
    margin: 0px auto;
}
.mg-t-10{
    margin-top: 10px;
}
.button-xsmall{
    font-size: 70%;
}
.button-success{
    background-color: #339933;
    color:white;
}
.header__title, .header-plus{
    /*border-bottom:1px solid #616161;*/
    margin-bottom:10px;
}

.header__button{
margin:auto;
}
.page-content {
    margin-top: 50px;
}
h1{
    font-size:30px;
    font-weight:normal;
    color:#616161;
}
h4{
    font-size:20px;
    font-weight:normal;
}
.green-bk{
    background-color:#339933;
}
.clear{
    clear:both;
}
.floatR{
    float:right;
}
.floatL{
    float:right;
}
.custom-restricted-width{
    display: inline-block;
    width: 220px;
    padding:0px 20px;
}
.top-navigation{
    border-bottom: 1px solid #BABABA;
    padding:10px 0px;
    -webkit-box-shadow: 2px 4px 4px -4px rgba(204,204,204,1);
    -moz-box-shadow: 2px 4px 4px -4px rgba(204,204,204,1);
    box-shadow: 2px 4px 4px -4px rgba(204,204,204,1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background: #ffffff;
}

.top-navigation__app-title .fa {
    color:#777;
    padding: 9px;
}
#logo {
    width: 120px;
    height: auto;
    margin: 0px;
}
.navigation-left-bar{
    border-right: solid 1px #339933;
    position: fixed;
    height:2100px;
    background-color:white;
    z-index: 9999;
}

.navigation-left-bar__apps .pure-menu-item{
    padding:10px 0px;
    border-bottom:solid 1px #339933;
}
.navigation-left-bar a:hover{
    color: #339933;
    background-color: white;
}
.list__no-style__float-left {
    list-style-type: none;
}
.list__no-style__float-left li{
    float:left;
}
.filter-search{
  margin:5px 0px 20px 0px;
}
.filter-search__actions__search input{
    width: 150px;
    line-height: 1.5em;
}
/*----------------------------------------------
address book
----------------------------------------------*/
.addressbook__row{
    margin: 20px 0px;
}
.addressbook__entry{
    padding:2px;
}
.addressbook__entry:hover {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
}
.addressbook__entry__link{
    text-decoration: none;
    color:#000000;
}
.addressbook__entry a:hover {

}
.addressbook__entry ul{
    list-style-type:none;
    padding:0px;
}
.addressbook__entry__user-image {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addressbook__entry__user-image--profile{
    width: 90%;
    margin: 5px auto;
    display: inherit;
}
.addressbook__entry__user-image--shield{
    width:20px;
    margin: 5px;
    display: inherit;
}
.addressbook__entry__information{
    padding-left:15px;
}
.addressbook__entry__information h4{
    margin-top:0px;
    margin-bottom:0px;
}
.addressbook__entry__information ul{
    margin:5px 0px;
}
.addressbook__entry__listmember{
    float:left;
    font-style: italic;
    color:#0000ed;
}
/*----------------------------------------------
address book individual profile
----------------------------------------------*/
.line-under{
    border-bottom:1px solid #9C9B9B;
    margin-bottom: 10px;
}
.picture-list__image{
    margin-top:20px;
    border:solid 1px #888888;
    border-radius:5px;
}

.picture-list__image--profile {
    width: 100%;
    padding: 3px;
    margin: 0 auto;
}
.picture-list__image--shield {
    width: 12%;
    margin: 5px;
}
.picture-list__lists li{
    list-style-type: none;
    color: #0000cc;
    font-style: italic;
}
.picture-list__lists li:nth-child(3n){
    color: #339933;
}
.fields__individual {
    line-height: 1.5;
}

.fields__individual em:hover{
    text-decoration: underline;
}

.fields__individual h3{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0px;
    color: #616161;

}

.fields__individual h4{
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0px 0px;
}

.fields__individual.green, em.green{
    color:#138613;
}

.fields__individual .red, .red {
    color:#F36F0B;
}

.fields__individual a{
    font-style: italic;
    color: #0000cc;
}
.employee-list__item__picture{
    border: 1px solid #cccccc;
}
.employee-list__item__information{
    padding-left:20px;
}
.employee-list__item__information h4{
    margin-top:0px;
    padding-top:0px;
}
.employee-list__item__information ul{
    list-style-type: none;
    margin:0;
    padding:0;
    line-height: 1em;
}
.white{
    color:white !important;
}
