/* Stylesheet for ATS platform */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700italic,700,400italic,300,300italic,500italic,500);

body {
    background-color: #ffffff;
    color: #616161;
    font-weight: 300;
}

.page-container {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* header css */
.header {
    border-bottom: 1px solid #cccccc;
    width: 100%;
    position: fixed;
    height: 75px;
    background-color: #ffffff;
    box-sizing: border-box;

}

.header-title {
    display: inline-block;
    height: 75px;
    padding-left: 30px;
}

.header-title i {
    padding-right: 20px;
}

.header-icons {
    float: right;
    margin: 30px 30px;
    display: inline-block;
    color: #616161;
    font-size: 20px;
}

.header-icons i {
    padding-left: 20px;
}

.header-logo {
    width: 260px;
    height: 75px;
    float: left;
    display: inline-block;
    border-right: 1px solid #cccccc;
    box-sizing: border-box;
}

.logo {
    width: 130px;
    height: 52px;
    margin-top: 12px;
    margin-left: 65px;
    margin-right: 65px;
}

/* sidebar css */
.page-sidebar {
    width: 260px;
    background-color: #ffffff;
    height: 100%;
    margin-top: 75px;
    position: fixed;
    float: left;
    display: inline-block;
    border-right: 1px solid #cccccc;
    box-sizing: border-box;
}

.user-profile {
    width: 260px;
    height: 150px;
    padding-top: 2px;
    border-bottom: 1px solid #cccccc;
    box-sizing: border-box;
    padding-top: 20px;
}

.user-profile-image {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    padding-left: 30px;
}

.user-profile img {
    max-width: 80px;
    max-height: 80px;
}

.user-profile-info {
    width: 120px;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
    float: right;
}

.user-profile-links {
    text-align: center;
    border-top: 1px solid #cccccc;
    display: block;
    clear: both;
    height: 30px;
    line-height: 30px;
}

.user-profile-links i {
    line-height: 30px;
    color: #616161;
    font-size: 16px;
}

.user-profile-links a {
    color: #ff9900;
    font-size: 12px;
    text-decoration: none;
}


.sidebar-nav {
    width: 100%;
    color: #616161;
}

.sidebar-nav i {
    padding-right: 12px;
}

.sidebar-nav a {
    font-size: 18px;
    text-decoration: none;
    color: #616161;
    display: block;
    padding: 25px 0px 25px 25px;
}

.sidebar-nav ul {
    margin: 0;
    padding: 0;
    width: 260px;
}

.sidebar-nav li {
    height: 75px;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #cccccc;
}

.sidebar-nav .current {
    color: #339933;
    font-weight: bold;
}

/* Page Content css */
.page-content-container {
    background-color: #ffffff;
    padding-left: 290px;
    padding-top: 75px;
    padding-right: 30px;
    margin-bottom: 30px;
}

.page-content {
    height: auto;
}

/* HEADING TAGS */
h1 {
    font-family: Roboto;
    font-size: 32px;
    color: #616161;
    border-bottom: 1px solid #cccccc;
    font-weight: 300;
    line-height: 2.74em;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 2.7em;
    color: #616161;
    margin: 0;
}

h3 {
    font-family: Roboto;
    font-size: 24px;
    color: #616161;
    line-height: 3.15em;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

h4 {
    font-family: Roboto;
    font-size: 18px;
    color: #616161;
    font-weight: 500;
    line-height: 1.72em;
    margin: 0;
    padding: 0;
}

h5 {
    font-family: Roboto;
    font-size: 12px;
    color: #616161;
    font-weight: 300;
    line-height: 1.85em;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.section-break {
    margin-top: 30px;
}


/* Default styles */
p {
    font-family: Roboto;
    font-size: 14px;
    color: #616161;
    line-height: 1.5em;
}

a {
    font-family: inherit;
    font-size: inherit;
    text-decoration: underline;
    color: #0072bc;
}


/* custom classes */
.breadcrumb {
    height: 20px;
    color: #cccccc;
    width: 100%;
    display: block;
    padding: 10px 0px;
}

.breadcrumb a {
    font-family: Roboto;
    font-size: 12px;
    color: #cccccc;
    text-decoration: none;
}

.breadcrumb .current {
    color: #616161;
}

.search-box {
    font-family: Roboto;
    font-size: 14px;
    width: 200px;
    height: 36px;
    padding-left: 10px;
    color: #616161;
    float: right;
    margin: 10px 0px 10px 20px;
}

.input-box {
    font-family: Roboto;
    font-size: 14px;
    color: #616161;
    padding-left: 10px;
    border: 1px solid #cccccc;
}

.floatR {
    float: right;
    text-align: right;
}



/* Notifications & Alerts*/
.noti-bbl {
    font-family: Roboto;
    font-weight: bold;
    font-size: 11px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    background-color: #b13e3e;
}

.noti-bbl {
    font-family: Roboto;
    font-weight: bold;
    font-size: 9px;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    background-color: #b13e3e;
}

.alert-new {
    max-width: 100%;
    padding: 30px;
    font-family: Roboto;
    font-size: 14px;
    color: #005285;
    height: auto;
    border: 1px solid #005285;
    background-color: #cce3f2;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
}

.alert-error {
    max-width: 100%;
    padding: 30px;
    font-family: Roboto;
    font-size: 14px;
    color: #711417;
    height: auto;
    height: auto;
    border: 1px solid #711417;
    background-color: #eccfcf;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
}

.alert-success {
    max-width: 100%;
    padding: 30px;
    font-family: Roboto;
    font-size: 14px;
    color: #0e6735;
    height: auto;
    height: auto;
    border: 1px solid #0e6735;
    background-color: #d6ebd6;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
}

.alert-unverified {
    max-width: 100%;
    padding: 30px;
    font-family: Roboto;
    font-size: 14px;
    color: #cc7a00;
    height: auto;
    height: auto;
    border: 1px solid #cc7a00;
    background-color: #ffebcc;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
}

/* Table Styles */
.tbl-main {
    width: 100%;
    font-size: 14px;
    color: #616161;
    border: 1px solid #eaeaea;
    margin: 10px 0px;
    line-height: 2.5em;
}

.tbl-main th {
    font-weight: bold;
    background-color: #ffffff;
    text-align: left;
    padding-left: 10px;
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

.tbl-main td {
    padding-left: 10px;
    border-right: 1px solid #eaeaea;
    font-weight: 300;
}

.tbl-main tr {
    width: 100%;
}

.tbl-main .btn-col {
    text-align: center;
    padding-left: 0px;
}

.tbl-main button {
    margin: 0px;
}

.tbl-main .odd {
    background-color: #eaeaea;
}

.tbl-comments {
    width: 100%;
    font-size: 14px;
    color: #616161;
    border: 1px solid #eaeaea;
    text-align: left;
    margin: 10px 0px;
}

.tbl-comments .odd {
    background-color: #eaeaea;
}

.tbl-comments th {
    padding-left: 10px;
    border-bottom: 1px solid #eaeaea;
    line-height: 2.5em;
}

.tbl-comments td {
    width: 15%;
    padding: 10px;
    font-weight: 300;
    vertical-align: top;
}

.tbl-comments .comment {
    width: 70%;
    padding: 10px;
}

.tbl-comments .reply {
    border-top: 1px solid #eaeaea;
}

.tbl-comments textarea {
    width: 100%;
    height: 100px;
}

.tbl-comments button {
    margin: 10px 0px;
}



/* Popup Styles */
.popup-lrg {
    width: 700px;
    margin: auto;
    padding: 30px;
    min-height: 200px;
}

.popup-sml {
    width: 500px;
    margin: auto;
    padding: 30px;
    min-height: 150px;
}

.hidden {
    height: 0px;
    width: 0px;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.color-green {
    color: #339933;
}

.color-blue {
    color: #0072bc;
}

.color-red {
    color: #9e0e0e;
}
/*OTHER BASE*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700italic,700,400italic,300,300italic,500italic,500);

body{
    color:#616161;
}

a, a i{
    text-decoration: none;
}
.c-green{
    color: #339933;
}
.ul-no-style{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.red-text{
    color:#C02D15;
}
.c-black{
    color: #000;
}
.gray-outline{
    border: 1px solid #cccccc;
    color: #949494;
}
.error{
    color: #000;
}
.m-t-10{
    margin-top:10px;
}
.button-gray{
    color: #ffffff;
    background: #616161;
}
a.button-outline{
    border: 1px solid #616161;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: #616161;
}
.alert-box{
    border:solid 1px #F36F0B;
    background-color: rgba(251,231,195,1);
    padding: 11px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#F36F0B;
    height: 41px;
    margin-top: 20px;
}
.m-t-35{
    margin-top:35px;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

a.tooltip:hover span {
    opacity: 1;
    visibility: visible;
    border: 1px solid #616161;
    margin-top:20px;
}
a.tooltip{
    text-decoration: none;
}
a.tooltip span {
    padding: 10px;
    /*top: 20px;*/
    min-width: 75px;
    max-width: 150px;
    background-color: #ffffff;
    color: #616161;
    height: auto;
    border-radius: 5px;
    opacity: 0;
    position:absolute;
    visibility: hidden;
    word-wrap: break-word;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
/*------------------------------------------
 FIle disbursement stats
---------------------------------------------*/
.disb-stats{
    margin-top:30px;
}
.disb-stats__item{
    border:1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    margin-right: 30px;
    text-align: center;
}
.disb-stats__item h2, .disb-stats__item h5{
    margin: 0px;
    padding: 0px;
}
.disb-stats__item h5{
    color: #616161;
    font-style: italic ;
    font-weight: normal;
}
.sale-price{

}
.loan{

}
.credit{
}
.debit{
}
.balance{
}
.orange{
    background-color: #F36F0B;
}
.disb-list{
    margin-top:20px;
}
.disb-list__item>* {
    padding: 15px;
}

.disb-list__item__indicator{
    padding:0px;
}
.disb-list__item__amount h2{
    padding: 0px;
    margin: 0px;
    line-height: .5;
}
.disb-list__details{
    border-top: 1px solid #cccccc;
    padding:10px;
}
option{
    word-wrap: break-word;
}
.document-list, .invoice-list{
    padding: 0px;
}
.document-list li, .document-list a{
    color: #0072BC;
    list-style-type: none;
}
.invoice-list li{
    list-style-type: none;
}
.hide{
    display: none;
}

/*------------------------------------------------
     Yes No radio boxes
---------------------------------------------------*/
/* styles for approval radio buttons */
input[type="radio"].toggle-yes,
input[type="radio"].toggle-no {
    display: none;
    width: 30px;
    height: 30px;
    margin-right: 0px  ;
}

input[type="radio"].toggle-yes + label {
    border: 1px solid #616161;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    padding: 4px 3px;
}

input[type="radio"].toggle-no + label {
    border: 1px solid #616161;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    padding: 4px 6px;
}

input[type="radio"].toggle-yes:checked + label {
    background-color: #339933;
    cursor: default;
    color: #E6E6E6;
    border-right: 1px solid #616161;
}

input[type="radio"].toggle-no:checked + label {
    background-color: #9E0B0F;
    cursor: default;
    color: #E6E6E6;
    border-color: #616161;
}

input[type="radio"].toggle:checked + label.btn:hover {
    background-color: inherit;
    background-position: 0 0;
    transition: none;
}
.fd-docs{
    padding: 0px;
    list-style-type: none;
}
/*.fd-docs > *{*/
/*color:#366097;*/
/*list-style-type: none;*/
/*}*/
.popup{
    border: solid 1px #616161;
    padding: 0px 30px 30px;
}
i.fa.fa-upload.fa-2x {
    text-decoration: none;
    color: #616161;
}
.saved > *{
    color: #616161;

}
.m-35{
    margin:35px;
}
.comment-user-profile {
    width: 40%;
    margin: 5px auto;
    display: inherit;
}
.history__content__item{
    border-top: 1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin: 10px 0px;
}
.pure-table-horizontal td {
    padding: 5px;
}
.c-61{
    color: #616161;
}