/* Stylesheet for ATS platform */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700italic,700,400italic,300,300italic,500italic,500);

body {
    background-color: #ffffff;
    color: #616161;
    font-weight: 300;
}

.page-container {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* header css */
.header {
    border-bottom: 1px solid #cccccc;
    width: 100%;
    position: fixed;
    height: 75px;
    background-color: #ffffff;
    box-sizing: border-box;

}

.header-title {
    display: inline-block;
    height: 75px;
    padding-left: 30px;
}

.header-title i {
    padding-right: 20px;
}

.header-icons {
    float: right;
    margin: 30px 30px;
    display: inline-block;
    color: #616161;
    font-size: 20px;
}

.header-icons i {
    padding-left: 20px;
}

.header-logo {
    width: 260px;
    height: 75px;
    float: left;
    display: inline-block;
    border-right: 1px solid #cccccc;
    box-sizing: border-box;
}

.logo {
    width: 130px;
    height: 52px;
    margin-top: 12px;
    margin-left: 65px;
    margin-right: 65px;
}

/* sidebar css */
.page-sidebar {
    width: 260px;
    background-color: #ffffff;
    height: 100%;
    margin-top: 75px;
    position: fixed;
    float: left;
    display: inline-block;
    border-right: 1px solid #cccccc;
    box-sizing: border-box;
}

.user-profile {
    width: 260px;
    height: 150px;
    padding-top: 2px;
    border-bottom: 1px solid #cccccc;
    box-sizing: border-box;
    padding-top: 20px;
}

.user-profile-image {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    padding-left: 30px;
}

.user-profile img {
    max-width: 80px;
    max-height: 80px;
}

.user-profile-info {
    width: 120px;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
    float: right;
}

.user-profile-links {
    text-align: center;
    border-top: 1px solid #cccccc;
    display: block;
    clear: both;
    height: 30px;
    line-height: 30px;
}

.user-profile-links i {
    line-height: 30px;
    color: #616161;
    font-size: 16px;
}

.user-profile-links a {
    color: #ff9900;
    font-size: 12px;
    text-decoration: none;
}


.sidebar-nav {
    width: 100%;
    color: #616161;
}

.sidebar-nav i {
    padding-right: 12px;
}

.sidebar-nav a {
    font-size: 18px;
    text-decoration: none;
    color: #616161;
    display: block;
    padding: 25px 0px 25px 25px;
}

.sidebar-nav ul {
    margin: 0;
    padding: 0;
    width: 260px;
}

.sidebar-nav li {
    height: 75px;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #cccccc;
}

.sidebar-nav .current {
    color: #339933;
    font-weight: bold;
}

/* Page Content css */
.page-content-container {
    background-color: #ffffff;
    padding-left: 290px;
    padding-top: 75px;
    padding-right: 30px;
    margin-bottom: 30px;
}

.page-content {
    height: auto;
}

/* HEADING TAGS */
h1 {
    font-family: Roboto;
    font-size: 32px;
    color: #616161;
    border-bottom: 1px solid #cccccc;
    font-weight: 300;
    line-height: 2.74em;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 2.7em;
    color: #616161;
    margin: 0;
}

h3 {
    font-family: Roboto;
    font-size: 24px;
    color: #616161;
    line-height: 3.15em;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

h4 {
    font-family: Roboto;
    font-size: 18px;
    color: #616161;
    font-weight: 500;
    line-height: 1.72em;
    margin: 0;
    padding: 0;
}

h5 {
    font-family: Roboto;
    font-size: 12px;
    color: #616161;
    font-weight: 300;
    line-height: 1.85em;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.section-break {
    margin-top: 30px;
}


/* Default styles */
p {
    font-family: Roboto;
    font-size: 14px;
    color: #616161;
    line-height: 1.5em;
}

a {
    font-family: inherit;
    font-size: inherit;
    text-decoration: underline;
    color: #0072bc;
}


/* custom classes */
.breadcrumb {
    height: 20px;
    color: #cccccc;
    width: 100%;
    display: block;
    padding: 10px 0px;
}

.breadcrumb a {
    font-family: Roboto;
    font-size: 12px;
    color: #cccccc;
    text-decoration: none;
}

.breadcrumb .current {
    color: #616161;
}

.search-box {
    font-family: Roboto;
    font-size: 14px;
    width: 200px;
    height: 36px;
    padding-left: 10px;
    color: #616161;
    float: right;
    margin: 10px 0px 10px 20px;
}

.input-box {
    font-family: Roboto;
    font-size: 14px;
    color: #616161;
    padding-left: 10px;
    border: 1px solid #cccccc;
}

.floatR {
    float: right;
    text-align: right;
}



/* Notifications & Alerts*/
.noti-bbl {
    font-family: Roboto;
    font-weight: bold;
    font-size: 11px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    background-color: #b13e3e;
}

.noti-bbl {
    font-family: Roboto;
    font-weight: bold;
    font-size: 9px;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    background-color: #b13e3e;
}

.alert-new {
    max-width: 100%;
    padding: 30px;
    font-family: Roboto;
    font-size: 14px;
    color: #005285;
    height: auto;
    border: 1px solid #005285;
    background-color: #cce3f2;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
}

.alert-error {
    max-width: 100%;
    padding: 30px;
    font-family: Roboto;
    font-size: 14px;
    color: #711417;
    height: auto;
    height: auto;
    border: 1px solid #711417;
    background-color: #eccfcf;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
}

.alert-success {
    max-width: 100%;
    padding: 30px;
    font-family: Roboto;
    font-size: 14px;
    color: #0e6735;
    height: auto;
    height: auto;
    border: 1px solid #0e6735;
    background-color: #d6ebd6;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
}

.alert-unverified {
    max-width: 100%;
    padding: 30px;
    font-family: Roboto;
    font-size: 14px;
    color: #cc7a00;
    height: auto;
    height: auto;
    border: 1px solid #cc7a00;
    background-color: #ffebcc;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
}

/* Table Styles */
.tbl-main {
    width: 100%;
    font-size: 14px;
    color: #616161;
    border: 1px solid #eaeaea;
    margin: 10px 0px;
    line-height: 2.5em;
}

.tbl-main th {
    font-weight: bold;
    background-color: #ffffff;
    text-align: left;
    padding-left: 10px;
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

.tbl-main td {
    padding-left: 10px;
    border-right: 1px solid #eaeaea;
    font-weight: 300;
}

.tbl-main tr {
    width: 100%;
}

.tbl-main .btn-col {
    text-align: center;
    padding-left: 0px;
}

.tbl-main button {
    margin: 0px;
}

.tbl-main .odd {
    background-color: #eaeaea;
}

.tbl-comments {
    width: 100%;
    font-size: 14px;
    color: #616161;
    border: 1px solid #eaeaea;
    text-align: left;
    margin: 10px 0px;
}

.tbl-comments .odd {
    background-color: #eaeaea;
}

.tbl-comments th {
    padding-left: 10px;
    border-bottom: 1px solid #eaeaea;
    line-height: 2.5em;
}

.tbl-comments td {
    width: 15%;
    padding: 10px;
    font-weight: 300;
    vertical-align: top;
}

.tbl-comments .comment {
    width: 70%;
    padding: 10px;
}

.tbl-comments .reply {
    border-top: 1px solid #eaeaea;
}

.tbl-comments textarea {
    width: 100%;
    height: 100px;
}

.tbl-comments button {
    margin: 10px 0px;
}

.tbl-notifications {
    width:100%;
    border: 1px solid #eaeaea;
    margin: 20px 0px;
}

.tbl-notifications td {
    padding: 30px;
}

.tbl-notifications tr {
    border-top: 1px solid #eaeaea;
}

.tbl-notifications .icon {
    padding-right: 0;
}

.tbl-notifications .btn {
    text-align: right;
    float: right;
}

.tbl-notifications .new {
    border: 1px solid #005285;
    background-color: #cce3f2;
}

.tbl-notifications .user {
    color: #339933;
    text-decoration: none;
}

.tbl-notifications .item {
    color: #0072bc;
}


/* Popup Styles */
.popup-lrg {
    width: 700px;
    margin: auto;
    padding: 30px;
    min-height: 200px;
}

.popup-sml {
    width: 500px;
    margin: auto;
    padding: 30px;
    min-height: 150px;
}

.hidden {
    height: 0px;
    width: 0px;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.color-green {
    color: #339933;
}

.color-blue {
    color: #0072bc;
}

.color-red {
    color: #9e0e0e;
}