/*------------------------------------------------
Login Screen Sequences
------------------------------------------------*/
.login-box{
    border: 2px solid #cccccc;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(184,184,184,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(184,184,184,1);
    box-shadow: 4px 4px 5px 0px rgba(184,184,184,1);
    padding:20px;
}
.login-box h2{
    font-weight: normal;
    color:#616161;
}
.login-box__header img{
    width: 30%;
    margin: 0 auto;
    display: inherit;
}
.image-select__image{
    margin-bottom: 45px;
}
/*------------------------------------------------
Navigation
------------------------------------------------*/
/*top bar*/

.pure-menu-item--sub a{
    text-decoration: none;
}
.pure-menu-item-subnav li{
    list-style-type: none;
    padding:2px;
}
.top-navigation{
    border-bottom: 1px solid #BABABA;
    padding:10px 0px;
    -webkit-box-shadow: 2px 4px 4px -4px rgba(204,204,204,1);
    -moz-box-shadow: 2px 4px 4px -4px rgba(204,204,204,1);
    box-shadow: 2px 4px 4px -4px rgba(204,204,204,1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background: #ffffff;
}
.top-navigation__app-title {
    margin-top: -20px;
}
.top-navigation__app-title .fa {
    color:#777;
    padding: 9px;
}

/*side bar*/
#logo {
    width: 120px;
    height: auto;
    margin: 0px;
}
.navigation-left-bar{
    border-right: solid 1px #339933;
    position: fixed;
    height:2100px;
    background-color:white;
    z-index: 9999;
}

.navigation-left-bar__apps .pure-menu-item{
    padding:10px 0px;
    border-bottom:solid 1px #339933;
}
.navigation-left-bar a:hover{
    color: #339933;
    background-color: white;
}

/*------------------------------------------------
Dashboard
------------------------------------------------*/
/*INFORMATION*/
.info__personal, .info__organization{
    border: solid 3px #CCC;
}

/*NOTIFICATION CENTER*/
/*.tbl-notifications {*/
    /*width:100%;*/
    /*border: 1px solid #eaeaea;*/
    /*margin: 20px 0px;*/
/*}*/

.notification__item{
    border:1px solid #cccccc;
}
.new-blue-bk-blue-out {
    border: 1px solid #005285;
    background-color: #cce3f2;
}
.notification__item__icon  {
    text-align: center;
    vertical-align: bottom;
}
