/*------------------------------------------------
Login Screen Sequences
------------------------------------------------*/
.login-box{
    border: 2px solid #cccccc;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(184,184,184,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(184,184,184,1);
    box-shadow: 4px 4px 5px 0px rgba(184,184,184,1);
    padding:20px;
}
.login-box h2{
    font-weight: normal;
    color:#616161;
}
.login-box__header img{
    width: 30%;
    margin: 0 auto;
    display: inherit;
}
.image-select__image{
    margin-bottom: 45px;
}

/*------------------------------------------------
Dashboard
------------------------------------------------*/
/*INFORMATION*/
.info__personal, .info__organization{
    border: solid 3px #CCC;
}

/*NOTIFICATION CENTER*/
/*.tbl-notifications {*/
    /*width:100%;*/
    /*border: 1px solid #eaeaea;*/
    /*margin: 20px 0px;*/
/*}*/

.notification__item{
    border:1px solid #cccccc;
}
.new-blue-bk-blue-out {
    border: 1px solid #005285;
    background-color: #cce3f2;
}
.notification__item__icon  {
    text-align: center;
    vertical-align: bottom;
}
