.file-dis {
  width: 100%;
  padding-left: 20px;
  font-size: 12px;
  color: #616161;
  margin-bottom: 50px;
}

.file-dis thead {
  background-color: transparent;
  font-weight: 600;
  color: #616161;
}

.file-dis tr {
  height: 36px;
}

.view {
  border-radius: 3px  ;
  background-color: #0072BC  ;
  height: 34px  ;
  font-size: 14px  ;
  color: #fff  ;
  width: 75px  ;
}

.new-account-form {
  color: #616161;
  font-size: 14px  ;
  font-weight: 600;
  margin-top: 25px;
}

.new-account-form button {
  border-radius: 5px  ;
  border: 1px solid #616161  ;
  background-color: #fff  ;
  height: 30px  ;
  font-size: 12px  ;
  color: #616161  ;
  padding: 0px 5px;
}

.text-1-2 {
  width: 92%;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 25px;
}

.text-1-3 {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 25px;
}

.add-buttons {
  width: 125px  ;
  height: 40px  ;
  font-size: 20px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #616161;
  margin-left: 20px;
  margin-right: 5px;
  color: #616161;
}


